@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);


/*Global ============================ */
:root {
  --black: #130f0ddd;
  --primary: #3ce027;
  --primary-dark: #26b414;
  --white: #f0f0f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: var(--black);
  color: var(--white);
}

main {
  margin: auto;
  width: 90vw;
  height: 90vh;
  /*display: flex;*/
  /*flex-direction: column;*/
}

h3 {
  text-align: center;
  margin: 20px;
}


/*Pesquisa =========================================== */
.search {
  width: 60vw;
  margin: auto;
  margin-bottom: 90px;

  display: flex;
  flex-direction: row;
}

input {
  width: 80vw;
  padding: 10px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  
  
  background-color: #130f0d66;
  
  font-size: 14px;
  font-weight: 300;
  color: var(--white);

  transition: 0.2s;
}

input:focus {
  outline: none;
  background-color: #130f0d40;
}

button {
  width: 20vw;
  height: 35px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  
  background-color: var(--primary-dark);
  color: var(--white);

  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: 0.2s;  
}

button:hover {
  background-color: var(--primary);
}

.icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  float: center;
}

@keyframes load {
  0% { color: var(--primary); }
  50% { color: var(--primary-dark); font-size: 21px;  }
  100% { color: var(--white); font-size: 20px;  }
}


/*Loanding ====================================================*/
.loading {
  font-size: 22px;
  font-weight: 700;
  font-variant: small-caps;
  color: var(--primary);

  text-align: center;

  animation: load 4s infinite alternate ease-in-out; 
  /*animation-name: load;*/
  /*animation-duration: 4s;*/
  /*animation-delay: 2s;*/
  /*animation-iteration-count: infinite;   [> qtd de iterações <]*/
  /*animation-direction: alternate;*/
  /*animation-timing-function: ease-in-out;*/

}


/*Título =================================================== */
.title {
  font-size: 16px;
  font-weight: 300;
  color: var(--primary-dark);

  width: 70vw;
  margin: auto;
  margin-bottom: 20px;
}


/*Lista ==================================================== */
ul {
  width: 70vw;
  height: 60vh;
  margin: auto;
  /*margin-bottom: 80px;*/
}

li {
  list-style: none;
  
  /*width: 50vw;*/
  margin: auto; 
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;

}

.mini-folder {
  width: 32px;
  height: 44px;
  object-fit: cover;
}

.select {
  font-size: 14px;
  font-weight: 300;
  color: var(--white);

  margin-left: 10px;

  cursor: pointer;
  transition: 0.2s;
}

.select:hover {
  color: var(--black);
}


/*Filme ======================================*/
.movie {
  width: 70vw;
  height: 60vh;
  margin: auto;
}

.header-movie {
  display: flex;
}

.name-movie {
  width: 95vw;
}

.watching {
  width: 5vw;
  margin-left: 5px;
  text-align: center;
  }

.watching::after {
  content: '\2606';
  color: var(--primary-dark);
  font-size: 36px;

  cursor: pointer;
  transition: 0.2s;
}

.watching:hover:after {
  content: "\2605";
}

hr {
  margin-top: 10px; 
  margin-bottom: 20px;
}

.data-movie {
  display: flex;
}

.itens {
  margin: auto;
  margin-top: 20px;
  margin-left: 0; 
  margin-right: 20px;
}

.item {
  height: 5vh;
  padding-bottom: 10%;
}

label {
  margin-right: 5px;
  font-weight: 700;
}

span {
  font-weight: 300;
}

.certificate {
  display: flex;
  height: 16vh;

  align-items: flex-end;
}

.image-certificate {
  width: 30px;
  height: 30px;
  margin-right: 10px;

  border: 1px solid var(--white);
  border-radius: 5px;
}

p {
  font-weight: 300;
}

.folder {
  margin: auto;
  margin-right: 0;
}

img {
  width: 162px;
  height: 254px;
  object-fit: cover;


  box-shadow: 2px 3px 3px rgba(255, 255, 255, 0.05);
}

.navBar { display: flex;  }

.backButton {
  font-size: 14px;
  font-weight: 300;
  color: var(--primary);

  margin-bottom: 20px;
  width: 50vw;

  cursor: pointer;
  transition: 0.2s;
}

.favButton {
  font-size: 14px;
  font-weight: 300;
  color: var(--primary);
  text-decoration: none;

  margin-bottom: 20px;
  width: 50vw;
  text-align: right;

  cursor: pointer;
  transition: 0.2s;
}

.backButton:hover, .favButton:hover {
  color: var(--black);
}



/* Alert */
.swal-modal {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid gray;
}

.swal-text, .swal-title {
  color: var(--white);
}

.swal-button--confirm {
  width: 60px;
  height: 40px;
  padding: 0px ;

  background-color: var(--primary-dark);
  color: var(--black);
  
  border: none;
  outline: none;
}



@media only screen and (max-width: 768px) {
  .data-movie {
    flex-direction: column-reverse;
  }

  .itens {
    margin-top: 20px;
    margin-right: 0;
  }

  .folder {
    margin: auto;
    /*align-content: right;*/
  }
}


.shadow { display: none; }

